<div class="container app-info-dialog">
    <div class="row mt-2">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <h2>About App</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <p>If you're interested, here are some of the technologies I used to build my app. Click on the icons below
                to learn more.</p>
        </div>
    </div>

    <div class="tech-icons">
        <div>
            <a href="https://angular.io/" target="_blank">
                <img src="../../../assets/images/angular.png" class="icon" />
            </a>
        </div>
        <div>
            <a href="https://azure.microsoft.com/en-us/services/functions/" target="_blank">
                <img src="../../../assets/images/azure-functions-logo.png" class="icon" />
            </a>
        </div>
    </div>

</div>