.app-info-dialog {
    padding: 32px;
    
    .tech-icons {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-between;
    }

    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .azure-function-icon {
        height: calc(6vw + 30px);
        max-height: calc(2vw + 60px);

    }

    .angular-icon {
        height: calc(6vw + 30px);
        max-height: calc(2vw + 70px);

    }

    .pwa-icon {
        height: calc(5vw + 25px);
        max-height: calc(2vw + 55px);
    }

    .net-icon {
        height: calc(5vw + 25px);
        max-height: calc(2vw + 55px);
    }
}