<div class="wrapper">
    <app-toolbar></app-toolbar>
    <div class="career-component">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <mat-card class="my-3 py-5">
                        <mat-card-header>
                            <h1 class="mat-card-header-mobile-title">Career Experience</h1>
                        </mat-card-header>
                        <mat-card-content class="mat-card-margin-x">
                            <p class="mb-4">Here is where you can see my current and previous career
                                experience.</p>
                            <div *ngIf="loadingStatus !== LoadingStatus.Loaded">
                                <app-loading [loadingStatus]="loadingStatus"></app-loading>
                            </div>
                            <div *ngIf="loadingStatus === LoadingStatus.Loaded">
                                <mat-card *ngFor="let careerContent of careerContents" class="career-card mb-5">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-2 col-lg-1 company-logo">
                                            <img class="d-none d-lg-none d-md-none d-sm-none d-xs-none d-xl-flex"
                                                [src]="careerContent.companyLogoUrl"
                                                [ngClass]="getCompanyLogoCssClass(careerContent.companyName)">
                                        </div>
                                        <div class="col-sm-12 col-md-10 col-lg-11">
                                            <div class="information-flex-display">
                                                <h3 class="ms-5">{{careerContent.companyName}}</h3>
                                                <h4 class="ms-5">{{careerContent.positionTitle}}</h4>
                                                <h5 class="ms-5">{{careerContent.startDate | date: 'MMM yyyy' }} -
                                                    {{careerContent.endDate == null ? "Now" : careerContent.endDate |
                                                    date:'MMM yyyy' }}
                                                </h5>
                                            </div>
                                            <div class="mt-2 mb-2 ms-2"
                                                *ngFor="let careerInformationContent of careerContent.careerInformationContents">
                                                <ul>
                                                    <li>
                                                        <p>{{careerInformationContent.careerInformation}}</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>