.career-component {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        font-family: "Oswald";

    }

    p {
        font-size: calc(15px + 0.25vw);
    }

    .center-spinner {
        margin: 0 auto;
    }

    li {
        text-decoration: none;
        list-style: none;
    }

    .information-flex-display {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        padding-bottom: 16px;
    }

    @media screen and (max-width: 768px) {
        .information-flex-display {
            display: inline-block;
            padding-bottom: 16px;
        }

    }

    .code-icon {
        font-size: calc(50px + 3vw);
    }

    .career-card {
        transition: all 0.28s ease-in-out;

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }
}