@media (prefers-color-scheme: dark) {
    ::ng-deep .dark-snackbar {
        background-color: #424242;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    ::ng-deep .light-snackbar {
        background-color: white;
        color: #424242;
    }
}