@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat.core();

$andre-app-palette: (
    50 : #e6e6e6,
    100 : #bfc1c0,
    200 : #959797,
    300 : #6b6d6d,
    400 : #4b4e4d,
    500 : #2b2f2e,
    600 : #262a29,
    700 : #202323,
    800 : #1a1d1d,
    900 : #101212,
    A100 : #66f2f2,
    A200 : #37eeee,
    A400 : #00f2f2,
    A700 : #00d9d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


@media (prefers-color-scheme: dark) {
    $my-app-primary: mat.define-palette($andre-app-palette);
    $my-app-accent:  mat.define-palette(mat.$pink-palette, 500, 900, A100);
    $my-app-warn:    mat.define-palette(mat.$deep-orange-palette);
    $my-app-theme: mat.define-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);
    
    @include mat.all-component-themes($my-app-theme);
}

@media (prefers-color-scheme: light) {
    $my-app-primary: mat.define-palette($andre-app-palette);
    $my-app-accent: mat.define-palette(mat.$pink-palette, 500, 900, A100);
    $my-app-warn: mat.define-palette(mat.$deep-orange-palette);
    $my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

    @include mat.all-component-themes($my-app-theme);
}
