.toolbar {
    background-color: transparent;
    
    mat-icon {
        font-size: calc(1vw + 26px);
        height: calc(1vw + 26px);
        width: calc(1vw + 26px);
    }

        .toolbar-button {
            &:hover {
                cursor: pointer;
            }
        }
}