<mat-list role="list" class="contact-icons">
    <a href="tel:+14162724109">
        <mat-list-item matRipple>
            <mat-icon class="mr-3 phone">phone</mat-icon> Phone
        </mat-list-item>
    </a>
    <a href="sms:+14162724109">
        <mat-list-item matRipple>
            <mat-icon class="mr-3 phone">message</mat-icon> Message
        </mat-list-item>
    </a>
    <a href="mailto:andrefischbacher95@hotmail.com">
        <mat-list-item matRipple>
            <mat-icon class="mr-3 mail">mail</mat-icon> Email
        </mat-list-item>
    </a>
    <a href="https://www.linkedin.com/in/andre-fischbacher-91249582/" target="_blank">

        <mat-list-item>
            <fa-icon class="mr-3 pr-1 linked-in" [icon]="faLinkedIn"></fa-icon>
            LinkedIn
        </mat-list-item>
    </a>
    <a href="https://github.com/Afischbacher" target="_blank">
        <mat-list-item matRipple>
            <fa-icon class="mr-3" [icon]="faGithub">

            </fa-icon>Github
        </mat-list-item>
    </a>
    <a href="https://twitter.com/Afischbacher" target="_blank">
        <mat-list-item matRipple>
            <fa-icon class="mr-3 twitter" [icon]="faTwitter">

            </fa-icon>
            Twitter
        </mat-list-item>
    </a>
    <a href="skype:live:ital-andre95?call" target="_blank">
        <mat-list-item matRipple>
            <fa-icon class="mr-3 pr-1 skype" [icon]="faSkype">
            </fa-icon>
            Skype
        </mat-list-item>
    </a>
</mat-list>