<div class="wrapper">
        <div class="container-fluid">
                <div class="row title-name">
                        <div class="col-md-12 col-sm-12 col-lg-12 text-center mt-5"> 
                                        
                                <img src="../../assets/images/andre-profile-2017.jpg" alt="Me - Andre Fischbacher" class="profile-image"/>
                                <h1>Andre Fischbacher</h1>
                                <h2>Full Stack Developer</h2>
                        </div>
                </div>
        </div>
        <div class="my-5"></div>
        <div class="container">
                <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <mat-card class="home-card my-2 py-5" routerLink="/about" (click)="vibrate()" matRipple>
                                        <mat-card-header>
                                                <mat-icon mat-card-avatar class="mr-4 card-icon">person_pin</mat-icon>
                                                <mat-card-title>
                                                        <h3>About Me</h3>
                                                </mat-card-title>
                                                <mat-card-subtitle>
                                                        <h5>Who am I ?</h5>
                                                </mat-card-subtitle>
                                        </mat-card-header>
                                </mat-card>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <mat-card class="home-card my-2 py-5" routerLink="/career" (click)="vibrate()" matRipple>
                                        <mat-card-header>
                                                <mat-icon mat-card-avatar class="mr-4 card-icon">next_week</mat-icon>
                                                <mat-card-title>
                                                        <h3>Career Experience</h3>
                                                </mat-card-title>
                                                <mat-card-subtitle>
                                                        <h5>What have I been up to ?</h5>
                                                </mat-card-subtitle>
                                        </mat-card-header>
                                </mat-card>
                        </div>

                </div>

                <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <mat-card class="home-card my-2 py-5" routerLink="/interests" (click)="vibrate()" matRipple>
                                        <mat-card-header>
                                                <mat-icon mat-card-avatar class="mr-4 card-icon">mood</mat-icon>
                                                <mat-card-title>
                                                        <h3>Interests</h3>
                                                </mat-card-title>
                                                <mat-card-subtitle>
                                                        <h5>What I like to do ?</h5>
                                                </mat-card-subtitle>
                                        </mat-card-header>
                                </mat-card>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">

                                <mat-card class="home-card my-2 py-5" (click)="openContactSheet()" matRipple>
                                        <mat-card-header>
                                                <mat-icon mat-card-avatar class="mr-4 card-icon">perm_contact_calendar
                                                </mat-icon>
                                                <mat-card-title>
                                                        <h3>Contact Me</h3>
                                                </mat-card-title>
                                                <mat-card-subtitle>
                                                        <h5>Want to talk to me?</h5>
                                                </mat-card-subtitle>
                                        </mat-card-header>
                                </mat-card>

                                <div class="pb-5"></div>     
                                
                                <div class="d-block d-xs-block d-sm-block d-md-none d-lg-none d-xl-none">
                                        <div class="pb-5"></div>
                                        <div class="pb-5"></div>
                                </div>
                        </div>
                </div>       
        </div>
</div>

<app-footer></app-footer>

