@import url('https://fonts.googleapis.com/css?family=Oswald');

.wrapper {
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}

.title-name {

    h1 {
        font-family: "Oswald";
        font-weight: 400;
        font-size: calc(42px + 2.6vw);
    }

    h2 {
        font-size: calc(12px + 2.6vw);
        font-family: "Oswald";
    }

    h3 {
        font-size: calc(16px + 1.2vw);
        font-family: "Oswald";
    }
}

.home-card {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        font-family: "Oswald";
    }

    .card-icon {
        font-size: 4rem;
        width: 4rem;
        border-radius: 0%;
        height: 4rem;
        color: white;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.under-construction {
    h3 {
        font-size: 150%;
        font-family: "Oswald";
    }
}

@media screen and (max-width: 768px) {
    .title-name {

        h1 {
            font-family: "Oswald";
            font-weight: 400;
            font-size: 48px;
        }

        h2 {
            font-size: 34px;
            font-family: "Oswald";
        }
    }

    .under-construction {
        h3 {
            font-size: 28px;
            font-family: "Oswald";
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(12px + 3vh);
    background-color: #202124;
    color: white;
    text-align: center;
    margin: 0px;
}

.profile-image {
    border-radius: 50%;
    height: calc(125px + 3vw);
    transform: rotate(0deg);
}

.menu-separation {
    margin-top: calc(3rem + 3vw);
}

mat-card-title,
mat-card-subtitle {
    text-align: center;
}

@keyframes pulse {
    10% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.01);
    }

    40% {
        transform: scale(0.99);
    }

    50% {
        transform: scale(1);
    }
}

svg {
    width: 25%;
}

@keyframes turn {
    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(2880deg);
    }

    90% {
        transform: rotate(2900deg);
    }

    100% {
        transform: rotate(2880deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fly {
    75% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#piece-1,
#piece-2,
#piece-3,
#piece-4 {
    animation: pulse 3s ease-out infinite;
    transform-origin: 47px 47px;
}

#piece-2 {
    animation-delay: .1s;
}

#piece-3 {
    animation-delay: .2s;
}

#piece-4 {
    animation-delay: .3s;
}

#needle {
    animation: turn 5s ease-out forwards infinite;
    transform-origin: 47px 47px;
}

#gear {
    animation: rotate 5s linear infinite;
    transform-origin: 47px 47px;
}

#airplane-icon {
    animation: fly 3s ease-in-out infinite;
    transform-origin: 47px -300px;
}

#phone {
    display: flex;
    justify-content: center;
    svg {
        width: 26%;
        .bar-3 {
            animation: hideshow3 2s ease-in-out infinite;
        }

        .bar-2 {
            animation: hideshow2 2s ease-in-out infinite;
        }

        .bar-1 {
            animation: hideshow1 2s ease-in-out infinite;
        }
    }
}


@keyframes hideshow1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }
}

@keyframes hideshow2 {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes hideshow3 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}

mat-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}